<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
  </head>
  <main>
    <body>
      <h1>Login</h1>
      <form action="/login" method="post">
        <label for="username">Username:</label><br />
        <input
          type="text"
          id="username"
          name="username"
          placeholder="Username"
          required
        /><br />
        <label for="password">Password:</label><br />
        <input
          type="password"
          id="password"
          name="password"
          placeholder="Password"
          required
        /><br />
        <input type="submit" value="Login" />
      </form>
    </body>
  </main>
</html>
